.spots-container-div {
    margin: 10px;
    transition: all .5s ease-in-out
}

.spots-container-div:hover {
    margin: 10px;
    transform: scale(1.03)
}
.spot-simple-view-container > img {
    width: 420px;
    height: 280px;
    border-radius: 5px;
    border: black;
}

.spot-simple-view-container > div {
    color: black;
    margin: 5px
}


.spot-simple-view-container {
    text-decoration: none;

}

.spot-simple-firstline-wrapper {
    display: flex;
    justify-content: space-between;
}
