.signup-email-input {
    width: 231px
}

.signup-nickname-input {
    width: 198px;
}

.signup-password-input {
    width: 199px;
}

.signup-confirm-password-input {
    width: 138px;
}


.signup-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
}

.signup-button-wrapper button {
    width: 100px;
}
