.delete-spot-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
}

.delete-spot-button-wrapper button {
    width: 100px;
    margin: 0 10px;
}
