/* TODO: Add sitewide styles */

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-style: normal;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    background-color: #E0E5E9;
    color:#5c5c5c;

  }

#root {
    margin: 0 auto;
}

.content-container {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
    /* this will make the content to take the entire view height. push the footer to the bottom */

}

.formContainer {
    display: flex;
    flex-direction: column;

}

.spots-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1800px;
    min-width: 600px;

}

.Spots-container-div {
    margin: 10px;
}

#modal-content {
    border-radius: 5px;
}

.modalContainer {
    padding: 25px;
    /* width: 500px; */
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modalContainer label {
    display: block;
    height: 30px;
    margin-bottom: 10px;
}

.modalContainer input {
    margin-left: 5px;
    height: 20px
}

.modalContainer > h1 {
    margin-top: 0;
}

.modalContainer button {
    display: block;
    padding: 10px;
    background-color: #0A62D0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modalContainer button:hover {
    background-color: #387bcd;;
}


.error {
    color: red;
    text-align: auto;
    margin-right: 20px;
}

.submit-button {
    margin-bottom: 15px;
}

.label-upload > input {
    height: 30px;
}

.label-upload > input:hover {
    cursor: pointer;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.form-buttonContainer {
    display: flex;
    flex-direction: row;
    width: 600px;
}

.formContainer label {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.formContainer textarea {
    margin-left: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

.formContainer input {
    height: 30px;
    margin-left: 8px;
    margin-right: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

.formContainer textarea {
    height: 100px;
    width: 490px;
}

.formContainer button, .content-container button {
    display: block;
    width: 200px;
    height: 40px;
    padding: 10px;
    background-color: #0A62D0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.formContainer button:hover, .content-container button:hover {
    background-color: #387bcd;;
}
.category {
    height: 34px;
    border: none;
    border-radius: 2px;
}

.form-subcontainer {
    display: flex;
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

footer > div > a {
    text-decoration: none;
    color: #5c5c5c;
}


.formContainer button:disabled,
.modalContainer button:disabled {
    background-color: #E0E5E9;
    cursor: not-allowed;
    color: black;
}

.edit-comment-button-container {
    display: flex;

}

.edit-comment-button button{
    display: block;
    width: 100px;
    padding: 10px;
    background-color: #0A62D0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 10px 10px 0px;
}


.edit-comment-button button:hover {
    background-color: #387bcd;;
}
