.login-email-input {
    width: 170px
}

.profile-dropdown-login {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.login-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
}

.login-button-wrapper button {
    width: 100px;
}
