.commentPicture {
    width: 200px;
    height: 150px;
}

.commentsContainer {
    display: flex;
    flex-direction: column;
}
.commentViewContainer{
    display: flex;
    margin: 10px;
    border: 1px black solid;
    width: 42%;
    padding: 10px;
}

.commentText {
    width: 400px;
}
